services:
  - type: web
    name: codex-app
    env: bun
    rootDir: . 
    buildCommand: bun install && bun run build
    startCommand: bun run start
    
    plan: free
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_VERSION
        value: 20
    autoDeploy: false
